#parent {
    background-color: rosybrown;
    height: 200px;
    text-align: center;
}

.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/* margin, padding에 0을 주었음에도 간격이 발생하는 문제가 있음 */
.child {
    display: inline-block;
    background-color: darkcyan;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}