/* flaot의 영향을 받고싶지 않으면 clear를 적용 */
#floatLeft {
    float: left;
    background: yellow;
  }
  .normal {
    background: skyblue;
  }
  #floatRight {
    float: right;
    background: yellowgreen;
  }
  .clear {
    clear: both;
    background: skyblue;
  }

  /* 
  float의 문제점 
  부모 태그가 float 속성의 자식 태그를 인식하지 못한다(높이가 0이 됨) 
  */
  
  