html, body {
    width: 100%;
    height: 100%;
}

#div1 {
    width: 50%;
    height: 50%;
    border: 1px solid black;
    background-color: springgreen;
}
/* relative는 본래 static좌표에 대해서 상대적인 좌표이다. */
#div2 {
    width: 50%;
    height: 50%;
    position: relative;
    top: 30px;
    left: 30px;
    border: 1px solid black;
    background-color: rosybrown;
}